<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>      
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ "UNITY_ZOHAR" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">{{"READ_ONCE" | translate}}</h2>

  <div class="ion-margin-vertical ion-text-justify" [innerHTML]="prayTop">

  </div>
</ion-content>
