::ng-deep{ 
    span.zohar-text-no-bg{
    display: block;
    font-weight: 700;
    }
}

@media (prefers-color-scheme: dark) {
    ::ng-deep{ 
        span.zohar-text-no-bg{
        display: block;
        font-weight: 700;
        color:var(--ion-color-primary-contrast);
        }
    }
}