<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss({buyed: false})">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ "UNITY_ZOHAR" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-margin ion-text-center">{{'LIGHT_CANDLE' | translate}}</h2>
  <form [formGroup]="candleForm">
    <ion-list class="candle-buy-form">
      <ion-item>
        <ion-label>{{"TYPE_CANDLE" | translate}}</ion-label>
        <ion-select formControlName="type"  placeholder="{{'HEALING'| translate}}" 
        cancelText="{{'CANCEL' | translate}}"
        okText="{{'OK' | translate}}"
        >
          <ion-select-option value="refua">{{"HEALING"| translate}}</ion-select-option>
          <ion-select-option value="bless">{{"IN_BLESS_MEMORY"| translate}}</ion-select-option>
          <ion-select-option value="wish">{{"SUCCESS_LIFE" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{"FIRST_NAME" | translate}}</ion-label>
        <ion-input placeholder="{{'PERSON_FIRST_NAME' | translate}}" type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-box ion-padding-bottom">
        <div *ngIf="name.errors.required">
          {{"INSERT_NAME" | translate}}
        </div>
      </div>
      <ion-item>
        <ion-label>{{"GENDER" | translate}}</ion-label>
        <ion-select formControlName="gender" placeholder='{{"MALE" | translate}}'
          cancelText="{{'CANCEL' | translate}}"
          okText="{{'OK' | translate}}"
          >
          <ion-select-option value="ben">{{"MALE" | translate}}</ion-select-option>
          <ion-select-option value="bat">{{"FEMALE" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="type.value=='refua'">
        <ion-item *ngIf="type.value=='refua'" style="border-bottom-width:0">
          <ion-label stacked>{{"MOTHER_NAME" | translate}}</ion-label>
          <ion-input placeholder="{{'MOTHER_NAME' | translate}}" type="text"
                     formControlName="parent_name"></ion-input>
        </ion-item>
        <div *ngIf="parent_name.invalid && (parent_name.dirty || parent_name.touched)" class="error-box ion-padding-bottom">
          <div *ngIf="name.errors.required">
            {{"INSERT_NAME" | translate}}
          </div>
        </div>
      </div>
      <div *ngIf="type.value!='refua'">
        <ion-item  style="border-bottom-width:0">
          <ion-label stacked>{{'FATHER_NAME' | translate}}</ion-label>
          <ion-input placeholder="{{'FATHER_NAME' | translate}}" type="text"
                     formControlName="parent_name"></ion-input>
        </ion-item>
        <div *ngIf="parent_name.invalid && (parent_name.dirty || parent_name.touched)" class="error-box ion-padding-bottom">
          <div *ngIf="name.errors.required">
            {{"INSERT_NAME" | translate}}
          </div>
        </div>
      </div>
     <!-- <pre>
      {{products | json}}
    </pre>-->
    </ion-list>
    <h2 class="ion-padding-vertical ion-text-center">{{"WOULD_LIKE" | translate}}</h2>
    <ion-list>
      <ion-radio-group formControlName="donation">
        <ion-item  *ngFor="let p of products" detail="false">
          <ion-label>
            <ion-label class="ion-text-wrap">
              {{ p.title }}
              <p>{{ p.description }}</p>
            </ion-label>
          </ion-label>
          <ion-badge slot="end" color="primary">
           {{ p.price }} 
          </ion-badge>
          <ion-radio slot="start" value="{{p.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <h2 class="ion-padding-vertical ion-text-center">{{"CONTACT_INFO" | translate}}</h2>
    <ion-list>
      <ion-item>
        <ion-label stacked>{{'EMAIL' | translate}}</ion-label>
        <ion-input placeholder="{{'YOUR_EMAIL' | translate}}" formControlName="email" type="text"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="error-box"> {{'EMAIL_REQUIRED' | translate}}!
      </div>     
      <ion-item>
        <ion-label stacked>{{'NAME' | translate}}</ion-label>
        <ion-input placeholder="{{'YOUR_NAME' | translate}}" formControlName="user_name" type="text"></ion-input>
      </ion-item>
      <div *ngIf="user_name.invalid &&  (user_name.dirty || user_name.touched)"
           class="error-box"> {{'INSERT_NAME' | translate}}!
      </div>
    </ion-list>

      <!--
      

    </ion-list>

    <h5 text-center>{{'I_WOULD_LIKE_TO' | translate}}:</h5>
    <ion-list radio-group class="prices-list" formControlName="donation">
      <div *ngFor="let price of prices; let l = last">
        <ion-item *ngIf="!l">
          <ion-label class="normal-wrap"><strong>{{event?.Event?.name | tzTranslate:[event?.Translation,'name']}}</strong> {{'SUPPORT' | translate}} {{'FOR_THE_NEXT' |
            translate}}
            {{price?.Payment?.days}} {{'DAYS' | translate}}: ${{price?.Payment?.price}}
          </ion-label>
          <ion-radio value="{{price?.Payment.days}}"></ion-radio>
        </ion-item>
        <ion-item *ngIf="l">
          <ion-label class="normal-wrap">{{'SUPPORT' | translate}} <strong>{{'ALL_TZADIKIM' | translate}}</strong>
            {{'FOR_THE_NEXT' | translate}}
            {{price?.Payment?.days}} {{'DAYS' | translate}}: ${{price?.Payment?.price}}
          </ion-label>
          <ion-radio value="{{price?.Payment.days}}"></ion-radio>
        </ion-item>
      </div>-->
    


    <div class="ion-padding-vertical">
      <ion-button 
        (click)="purchase()"
        expand="block"
        size="large" [disabled]="!candleForm.valid || submitting">
        {{ ( (submitting) ? 'PROCESSING' : "SUBMIT" ) | translate }}
      </ion-button>
    </div>
    <!-- <div padding text-justify>
      <p>
        {{"DONATION_TEXT" | translate}}
      </p>
    </div> -->
  </form>

</ion-content>
