<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ "SETTINGS" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group id="themeToggle" #toggle [value]="mode">
      <ion-list-header>
        <ion-label>{{"DARK_MODE" | translate }}</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>{{"DARK" | translate }}</ion-label>
        <ion-radio slot="start" value="dark"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>{{"LIGHT" | translate }}</ion-label>
        <ion-radio slot="start" value="light"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{"DEFAULT_SYSTEM" | translate }}</ion-label>
        <ion-radio slot="start" value="default"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <!--<ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Use dark mode
      </ion-label>
      <ion-toggle id="themeToggles" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>-->
  <div class="ion-text-center">
    <ion-text>
      <h3>{{ "CHANGE_LANGUAGE_TITLE" | translate }}</h3>
    </ion-text>
  </div>  
   

  <ion-list lines="full">
    <ion-radio-group [(ngModel)]="currentLang" (ionChange)="changeLanguage()" >
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Spanish</ion-label>
        <ion-radio value="es"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Hebrew</ion-label>
        <ion-radio value="he"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Russian</ion-label>
        <ion-radio value="ru"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>