<div *ngIf="candles?.length > 0" class="candles-holder ion-padding-vertical">
    <div class="ion-padding">
      <ion-button expand="block" size="large" (click)="openBuyCandle()">{{ "ADD_NAME_TO_LIST" | translate}}</ion-button>
    </div>

      <ion-card class="candles-card">
        <div>
          <ion-segment [(ngModel)]="candleType" class="candles-segment" mode="md">
            <ion-segment-button value="refua" class="refua">
              {{"HEALING" | translate}}
            </ion-segment-button>
            <ion-segment-button value="bless" class="bless">
              {{"ELEVATION" | translate}}
            </ion-segment-button>
            <ion-segment-button value="wish" class="wish">
              {{"SUCCESS" | translate}}
            </ion-segment-button>
          </ion-segment>
        </div>
        <div [ngSwitch]="candleType">
          <ion-list *ngSwitchCase="'refua'" class="refua-list">
            <ion-item *ngFor="let candle of candles | candleFilter:'refua'" lines="full">
              <ion-thumbnail slot="start">
                <img src="assets/candles/refua-icon.svg"/>
              </ion-thumbnail>
              <ion-label [class.normal-hebrew-no-rtl]="candle?.Candle.hebrew">
                {{candle?.Candle.name}} {{candle?.Candle.gender}} {{candle?.Candle.parent_name}}
              </ion-label>
            </ion-item>

            <ion-item *ngIf="!(candles | hasCandle:'refua')" class="text-center">
              <em stable>{{"NO_CANDLES" | translate}}</em>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'bless'" class="bless-list" lines="full">
            <ion-item *ngFor="let candle of candles | candleFilter:'bless'">
              <ion-thumbnail slot="start" class="ion-text-center">
                <img src="assets/candles/candle-elevation.png" style="margin: 0 auto;width: 17px;"/>
              </ion-thumbnail>
              <ion-label [class.normal-hebrew-no-rtl]="candle?.Candle.hebrew">
                {{candle?.Candle.name}} {{candle?.Candle.gender}} {{candle?.Candle.parent_name}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!(candles | hasCandle:'bless')" class="text-center">
              <em stable>{{"NO_CANDLES" | translate}}</em>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'wish'" class="wish-list" lines="full">
            <ion-item *ngFor="let candle of candles | candleFilter:'wish'">
              <ion-thumbnail slot="start">
                <img src="assets/candles/success-icon.svg"/>
              </ion-thumbnail>
              <ion-label [class.normal-hebrew-no-rtl]="candle?.Candle.hebrew">
                {{candle.Candle.name}} {{candle.Candle.gender}} {{candle.Candle.parent_name}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!(candles | hasCandle:'wish')" class="text-center">
              <em stable>{{"NO_CANDLES" | translate}}</em>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
    </div>