ion-segment-button{
    text-transform: none;
    --background:#D2D3C9;
    --color:var(--ion-color-dark);
    &.refua{
        --background-checked:#53262A;
        --color-checked:#FFF;
        --color:#53262A;
    }
    &.bless{
        --background-checked: #142535;
        --color-checked:#FFF;
        --color:#142535;
    }
    &.wish{
        --background-checked:#565530;
        --color-checked:#FFF;
        --color:#565530;
    }
}



.candles-holder{
    background-color: #F8F1F1;
}

@media (prefers-color-scheme: darks) {
    .candles-holder{
        background-color: #222831;
    }   
}

ion-list {
    ion-item{
        ion-label{

        }
        ion-thumbnail{
            --size: 35px;
            width: 35px;
            img{
                max-width: 100%;
            }
        }
    }
    &.list-md{
        padding-top: 0;
        padding-bottom: 0;
    }
    &.refua-list{
        ion-item{
            --background: #53262A;
            --color:#FFF;
            ion-label{
                font-size: 0.95em;
            }
        }
    }
    &.bless-list{
        ion-item{
            --background: #142535;
            --color:#FFF;
            ion-label{
                font-size: 0.95em;
            }
        }
    }
    &.wish-list{
        ion-item{
            --background: #565530;
            --color:#FFF;
            ion-label{
                font-size: 0.95em;
            }
        }
    }
}
ion-item:last-child {
    --border-width: 0 0 0 0 !important;
}