<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>      
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ "BOOKMARKS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="lastRead">
    <h2 class="ion-text-center">{{"LAST_PARAGRAPH_READ" | translate}}</h2>
    <ion-item (click)="goToParagraph(lastRead?.parasha_id, lastRead?.par_num)" detail="true">
      <ion-label>
        <h2>{{lastRead?.parasha}} | <strong class="normal-hebrew"> {{lastRead?.parasha_hebrew}}</strong> </h2>
          <p>{{"PARAGRAPH" | translate}} {{lastRead?.par_num}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="bookmarks.length > 0">
    <h2 class="ion-text-center ion-margin-top ion-padding-top">{{"MY_BOOKMARKS" | translate}}</h2>
    <ion-text color="warning">
      <div class="ion-text-center">
        <em>{{"SWIPE_REMOVE" | translate}}</em>
      </div>
    </ion-text>
    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding *ngFor="let bookmark of bookmarks">
        <ion-item detail="true" (click)="goToParagraph(bookmark?.parasha_id, bookmark?.par_num)">
          <ion-label>
            <h2>{{bookmark?.parasha}} | <strong class="normal-hebrew"> {{bookmark?.parasha_hebrew}}</strong> </h2>
            <p>{{"PARAGRAPH" | translate}} {{bookmark?.par_num}}</p>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option (click)="deleteBookmark(bookmark.zohar_id)">{{"REMOVE" | translate}}</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- <ion-list>
      <ion-item 
        (click)="goToParagraph(bookmark?.parasha_id, bookmark?.par_num)"
        detail="true"
        *ngFor="let bookmark of bookmarks">
        <ion-label>
          <h2>{{bookmark?.parasha}} | <strong class="font-stam"> {{bookmark?.parasha_hebrew}}</strong> </h2>
          <p>{{"PARAGRAPH" | translate}} {{bookmark?.par_num}}</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
