<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss('')">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ "BOOKMARKS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="full">
    <ion-label>
      <h2>{{zohar?.Parasha?.name}} | <strong class="font-stam">{{zohar?.Parasha?.name_hebrew}}</strong></h2>
      <p>{{"PARAGRAPH" | translate}} {{zohar?.Zohar?.paragraph_num}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="annotation" placeholder="{{'ADD_YOUR_NOTE' | translate}}" rows="10">
    </ion-textarea>
  </ion-item>
  <ion-grid class="ion-no-padding ion-margin-vertical ion-padding-top">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" color="counter" (click)="removeBookmark()">{{"REMOVE_BOOKMARK" | translate}}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="saveBookmark()" expand="block">{{'DONE' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>