::ng-deep{
    .well{
        background-color: #f2F2f2;
        padding-bottom:​25px;
        p{
            margin-top: 10px;
        }
    }
    .well-strong{
        font-weight: 700;
        font-size: 1.25em;
        text-align: center;
    }
} 

@media (prefers-color-scheme: dark) {
    ::ng-deep{
        .well{
           color:var(--ion-color-light);;
        }
    } 
}