<ng-container>
  <ion-toolbar class="ion-margin-bottom">
    <!--<ion-buttons slot="start">
      <ion-button (click)="stop()" [disabled]="!playing">
        <ion-icon slot="icon-only" name="stop-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
      <ion-button 
        (click)="togglePlayer(false)"
        *ngIf="!playing">
        <ion-icon name="play-sharp"></ion-icon>
      </ion-button>
      <ion-button 
        (click)="togglePlayer(true)"
         *ngIf="playing">
        <ion-icon name="pause-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><ion-progress-bar value="{{trackProgress}}"></ion-progress-bar></ion-title>
  </ion-toolbar>
</ng-container>