// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/





/** Ionic CSS Variables **/
:root {
  //--darkBg: #000;
  --darkBg: #030B1A;
  --darkHeader: #222831;
  
  --ion-color-primary: #FC8621;
  --ion-color-primary-rgb: 252,134,33;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #de761d;
  --ion-color-primary-tint: #fc9237;

  --ion-color-secondary: #DB6400;
  --ion-color-secondary-rgb: 219,100,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #c15800;
  --ion-color-secondary-tint: #df741a;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;


  --ion-color-counter: #D2D3C9;
  --ion-color-counter-rgb: 210,211,201;
  --ion-color-counter-contrast: #000000;
  --ion-color-counter-contrast-rgb: 0,0,0;
  --ion-color-counter-shade: #b9bab1;
  --ion-color-counter-tint: #d7d7ce;


  --ion-color-zohardisabled: #B9AC92;
  --ion-color-zohardisabled-rgb: 185,172,146;
  --ion-color-zohardisabled-contrast: #FFFFFF;
  --ion-color-zohardisabled-contrast-rgb: 0,0,0;
  --ion-color-zohardisabled-shade: #a39780;
  --ion-color-zohardisabled-tint: #c0b49d;

  --ion-color-statistics: #F2F2F2;
  --ion-color-statistics-rgb: 242,242,242;
  --ion-color-statistics-contrast: #000000;
  --ion-color-statistics-contrast-rgb: 0,0,0;
  --ion-color-statistics-shade: #d5d5d5;
  --ion-color-statistics-tint: #f3f3f3;


  --ion-background-color: #FFF;
  --ion-text-color: #393E46;
  --ion-font-family:   'Roboto Condensed', sans-serif;
}

@media (prefers-color-scheme: darksss) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #FC8621;
    --ion-color-primary-rgb: 252,134,33;
    --ion-color-primary-contrast: #FFFFFF;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #de761d;
    --ion-color-primary-tint: #fc9237;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;


    --ion-color-counter: #393E46;
    --ion-color-counter-rgb: 57,62,70;
    --ion-color-counter-contrast: #ffffff;
    --ion-color-counter-contrast-rgb: 255,255,255;
    --ion-color-counter-shade: #32373e;
    --ion-color-counter-tint: #4d5159;
    
    --ion-background-color: var(--darkBg);
    --ion-background-color-rgb: 3,11,26;
  
    --ion-text-color: #FFFFFF;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #101725;
    --ion-color-step-100: #1c2331;
    --ion-color-step-150: #29303c;
    --ion-color-step-200: #353c48;
    --ion-color-step-250: #424853;
    --ion-color-step-300: #4f545f;
    --ion-color-step-350: #5b606a;
    --ion-color-step-400: #686d76;
    --ion-color-step-450: #747981;
    --ion-color-step-500: #81858d;
    --ion-color-step-550: #8e9198;
    --ion-color-step-600: #9a9da3;
    --ion-color-step-650: #a7aaaf;
    --ion-color-step-700: #b3b6ba;
    --ion-color-step-750: #c0c2c6;
    --ion-color-step-800: #cdced1;
    --ion-color-step-850: #d9dadd;
    --ion-color-step-900: #e6e7e8;
    --ion-color-step-950: #f2f3f4;

    --ion-text-color: #FFFFFF;
    --ion-font-family: 'Roboto Condensed', sans-serif;
}



  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --background:  var(--darkBg);
    --ion-background-color: var(--darkBg);
    --ion-border-color:  #393E46;

    --ion-item-background:  var(--darkBg);

    --ion-toolbar-background: var(--darkHeader);

    --ion-tab-bar-background:  var(--darkBg);

    --ion-card-background:  var(--darkBg);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body { 
    --background:  var(--darkBg);
    --ion-background-color:  var(--darkBg);
    --ion-border-color: #393E46;

    --ion-item-background:  var(--darkBg);

    --ion-toolbar-background:  var(--darkHeader);

    --ion-tab-bar-background:  var(--darkBg);

    --ion-card-background:  var(--darkBg);
    
  }
}

/*
   * Dark Colors
   * -------------------------------------------
   */

   body.dark {
    --ion-color-primary: #FC8621;
    --ion-color-primary-rgb: 252,134,33;
    --ion-color-primary-contrast: #FFFFFF;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #de761d;
    --ion-color-primary-tint: #fc9237;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;


    --ion-color-counter: #393E46;
    --ion-color-counter-rgb: 57,62,70;
    --ion-color-counter-contrast: #ffffff;
    --ion-color-counter-contrast-rgb: 255,255,255;
    --ion-color-counter-shade: #32373e;
    --ion-color-counter-tint: #4d5159;
    
    --ion-background-color: var(--darkBg);
    --ion-background-color-rgb: 3,11,26;
  
    --ion-text-color: #FFFFFF;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #101725;
    --ion-color-step-100: #1c2331;
    --ion-color-step-150: #29303c;
    --ion-color-step-200: #353c48;
    --ion-color-step-250: #424853;
    --ion-color-step-300: #4f545f;
    --ion-color-step-350: #5b606a;
    --ion-color-step-400: #686d76;
    --ion-color-step-450: #747981;
    --ion-color-step-500: #81858d;
    --ion-color-step-550: #8e9198;
    --ion-color-step-600: #9a9da3;
    --ion-color-step-650: #a7aaaf;
    --ion-color-step-700: #b3b6ba;
    --ion-color-step-750: #c0c2c6;
    --ion-color-step-800: #cdced1;
    --ion-color-step-850: #d9dadd;
    --ion-color-step-900: #e6e7e8;
    --ion-color-step-950: #f2f3f4;

    --ion-text-color: #FFFFFF;
    --ion-font-family: 'Roboto Condensed', sans-serif;;
}

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

   .ios body.dark {
    --background:  var(--darkBg);
    --ion-background-color: var(--darkBg);
    --ion-border-color:  #393E46;

    --ion-item-background:  var(--darkBg);

    --ion-toolbar-background: var(--darkHeader);

    --ion-tab-bar-background:  var(--darkBg);

    --ion-card-background:  var(--darkBg);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark { 
    --background:  var(--darkBg);
    --ion-background-color:  var(--darkBg);
    --ion-border-color: #393E46;

    --ion-item-background:  var(--darkBg);

    --ion-toolbar-background:  var(--darkHeader);

    --ion-tab-bar-background:  var(--darkBg);

    --ion-card-background:  var(--darkBg);
    
  }