<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "UNITY_ZOHAR" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h2 class="ion-text-center">{{"WE_COVER" | translate}}</h2>

    <div #map id="map">

    </div>

    <ion-button expand="block"  class="ion-margin-top" href="https://unityzohar.com/zohar-readers">{{"VIEW_ALL_READERS_WEBSITE" | translate}}</ion-button>
</ion-content>
