<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay"  side="end" swipeGesture="false">
      <ion-header>
        <ion-toolbar>
          <ion-title mode="md" class="ion-text-uppercase">{{"UNITY_ZOHAR" | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>{{ "HOME" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="/unity-zohar">
              <ion-icon slot="start" name="book"></ion-icon>
              <ion-label>{{ "UNITY_ZOHAR" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="/unity-pinchas">
              <ion-icon slot="start" name="book-sharp"></ion-icon>
              <ion-label>{{ "UNITY_PINCHAS" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="/unity-tikunim">
              <ion-icon slot="start" name="book-sharp"></ion-icon>
              <ion-label>{{ "UNITY_TIKUNIM" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="zohar-by-books">
              <ion-icon slot="start" name="book-sharp"></ion-icon>
              <ion-label>{{ "UNITY_BOOKS" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="about">
              <ion-icon slot="start" name="earth"></ion-icon>
              <ion-label>{{ "ABOUT_UZ_TITLE" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="how-works">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>{{ "HOW_WORK" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="projects">
              <ion-icon slot="start" name="briefcase"></ion-icon>
              <ion-label>{{ "DZ_PROJECTS" | translate}}</ion-label>
            </ion-item>
            <ion-item href="mailto:info@dailyzohar.com?subject=Contact to Unity Zohar App">
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label>{{ "CONTACT" | translate}}</ion-label>
            </ion-item>
            <ion-item routerLink="/settings">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>{{ "SETTINGS" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
