ion-title.md{
     // font-size: 1em;
}

ion-select{
    --padding-start:0;
    margin-top: 6px;
}
ion-item.range-item{
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    padding-top: 10px;
    &::part(native){
        padding: 0;
    }
    ion-range{
        padding-top: 10px;
    }
}
.prevnextcont{
    ion-button{
        font-size: 1em;
    }
}
ion-button.bookmark-action{
    margin-top: 24px;
    direction: ltr;
    --border-width:1px;
    font-weight: 700;
    --border-color: var(--ion-color-zohardisabled);
    --background-activated:var(--ion-color-zohardisabled);
    --color-activated: var(--ion-color-light);
    --color: var(--ion-color-zohardisabled);
}

@media (prefers-color-scheme: dark) {
    
   
   
}