<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "UNITY_BOOKS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <app-zohar-loader *ngIf="!zohars"></app-zohar-loader>
  <app-zohar-loader *ngIf="!zohars"></app-zohar-loader>
  <div *ngIf="!loadingBooks">
    <ion-toolbar (click)="viewBookmarks()" color="counter">
      <ion-title mode="md">{{"BOOKMARKS" | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="viewBookmarks()" class="bookmarkbutton" fill="outline" >
          <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="ion-padding">
    <ion-grid class="ion-no-padding" *ngIf="!loadingBooks">
      <ion-row>
        <ion-col size="6">
          <ion-select [value]="bookId" okText="{{'OK' | translate}}" cancelText="{{'CANCEL' | translate}}"
            (ionChange)="changeBook($event)">
            <ion-select-option *ngFor="let book of books" value="{{book?.Parasha?.id}}">{{book?.Parasha?.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-button fill="clear" color="dark" (click)="fontDown()">
                    <ion-icon name="remove-circle"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center ion-padding-top">
                  <strong>
                    AA
                  </strong>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-button fill="clear" color="dark" (click)="fontUp()">
                    <ion-icon name="add-circle"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical">
        <ion-col>
          <ion-segment class="zohar-language" mode="ios" [(ngModel)]="language" (ionChange)="languageChanged($event)">
            <ion-segment-button value="hebrew">
              <ion-label>{{"SHOW_HEBREW" | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="aramaic">
              <ion-label>{{"SHOW_ARAMAIC" | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item detail="false">
            <ion-label>{{"SHOW_TRANSLITERATION" | translate}}</ion-label>
            <ion-toggle (ionChange)="viewTransliteration($event)" [(ngModel)]="showTransComment"></ion-toggle>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Zohars-->
    <ion-card mode="ios" *ngFor="let zohar of zohars" class="ion-no-margin ion-margin-vertical">
      <ion-card-content class="uz-text uz-text-{{fontSize}}">
        <app-zohar-loader *ngIf="loadingZohars"></app-zohar-loader>
        <ng-container *ngIf="!loadingZohars">
          <app-player *ngIf="zohar?.Zohar?.audio != 0" audioUrl="{{zohar?.Zohar?.audio}}"></app-player>         
          <p *ngIf="language == 'hebrew' && zohar?.Zohar?.text_hebrew" [innerHTML]="zohar?.Zohar?.text_hebrew"
            class="uz-text-{{fontSize}}"></p>
          <p *ngIf="language == 'hebrew' && !zohar?.Zohar?.text_hebrew" class="text-ltr">
            {{ "NO_HEBREW" | translate}}
          </p>
          <p *ngIf="language == 'aramaic' && zohar?.Zohar?.text_aramaic" [innerHTML]="zohar?.Zohar?.text_aramaic"
            class="uz-text-{{fontSize}}"></p>
          <div *ngIf="showTransComment == true">
              <div class="hline-bottom ion-margin-vertical"></div>
              <p *ngIf="language == 'hebrew'" class="uz-text-{{fontSize}} normal-text">
                {{zohar?.Zohar?.transliterated_hebrew}}
              </p>
              <p *ngIf="language == 'aramaic'" class="uz-text-{{fontSize}} normal-text">
                {{zohar?.Zohar?.transliterated_aramaic}}
              </p>
          </div>
          <div *ngIf="showCommentary == true">
            <ng-container *ngIf="zohar?.Zohar?.translation != ''">
              <div class="hline-bottom ion-margin-vertical"></div>
              <h4 class="text-ltr translation-title">{{"TRANSLATION" | translate}}</h4>
              <div [innerHTML]="zohar?.Zohar?.translation" class="text-ltr normal-text"></div>
            </ng-container>
            <ng-container *ngIf="zohar?.Zohar?.comments.length > 0">
              <div class="hline-bottom ion-margin-vertical"></div>
              <h4 class="text-ltr translation-title">{{"COMMENTARY" | translate }}</h4>
              <div *ngFor="let comment of zohar?.Zohar?.comments" class="text-ltr uz-text-{{fontSize}}">
                <div [innerHTML]="comment" class="text-ltr normal-text"></div>
                <div class="hline-bottom ion-margin-vertical"></div>
              </div>
            </ng-container>
          </div>          
          <ion-grid class="text-ltr ion-no-padding">
            <ion-row>
              <ion-col>
                <ion-button 
                  color="zohardisabled"
                  (click) ="viewTCommentary()"
                  *ngIf="zohar?.Zohar?.comments.length > 0"
                  class="bookmark-action" expand="block" size="small" fill="{{ showCommentary ? 'solid' : 'outline'}}">
                  <ion-icon slot="start" name="chatbox-ellipses-sharp"></ion-icon>
                  {{ 'COMMENTARY' | translate }}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button 
                color="zohardisabled"
                (click)="openBookmark(zohar)"
                class="bookmark-action" expand="block" size="small" fill="{{(bookmarked.indexOf(zohar?.Zohar?.id) != -1) ? 'solid' : 'outline'}}">
                <ion-icon slot="start" name="{{(bookmarked.indexOf(zohar?.Zohar?.id) != -1) ? 'bookmark' : 'bookmark-outline'}}"></ion-icon>
                {{ ( (bookmarked.indexOf(zohar?.Zohar?.id) != -1) ? 'VIEW_BOOKMARKS' : "ADD_BOOKMARK" ) | translate }}
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-card-content>
    </ion-card>
    <ion-grid class="ion-no-padding ion-margin-vertical ion-padding-top prevnextcont" *ngIf="!loadingBooks">
      <ion-row>
        <ion-col size="6">
          <ion-button 
              size="large"
              expand="block"
              (click)="goNextPrevParagraphs(1)"
              class="ion-no-margin ion-margin-end">{{"PREV_ZOHAR" | translate}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            size="large"
            expand="block"
            (click)="goNextPrevParagraphs()"
            class="ion-no-margin ion-margin-start">{{"NEXT_ZOHAR" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item class="ion-margin-vertical range-item" lines="none" *ngIf="zohars.length > 0">
      <ion-range mode="md" [disabled]="loadingZohars" debounce="750"
        #range
         (touchend)="changeParagraph()" 
         (mouseup)="changeParagraph()" min="1"
          step="3" snaps="true"
          value="{{currentPar}}" max="{{parcount}}" pin snaps step="1"
        ticks="true" color="secondary">
      </ion-range>
      <ion-button color="dark" (click)="goNextPrevParagraphs(1)" shape="round" slot="start" fill="clear">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="goNextPrevParagraphs()" shape="round" fill="clear" slot="end">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>