<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "UNITY_ZOHAR" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding slides-holder">
    <ion-slides pager="true" [options]="slideOpts" class="home-slides">
      <ion-slide>
        <div class="slide-content">
          <h2>{{"WELCOME_2" | translate}}</h2>
          <h3>{{"UZ_GLOBAL" | translate}}</h3>
          <ion-button size="large" (click)="presentHowWorks()" class="ion-text-uppercase" >{{"READ_ONCE" | translate}}</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">
          <div class="slide-text ion-padding-top ion-padding-horizontal" [innerHTML]="texts.EXPLANATION">
          </div>
          <ion-button routerLink="how-works" size="large" class="ion-text-uppercase" >{{"HOW_WORK" | translate}}</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">
          <div class="slide-text ion-padding-top ion-padding-horizontal" [innerHTML]="texts.ABOUT_UZ">
          </div>
          <ion-button routerLink="about" size="large" class="ion-text-uppercase" >{{"ABOUT_UZ_TITLE" | translate}}</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="ion-padding">
    <ion-list class="projects-list">
      <ion-item detail lines="none" button routerLink="unity-zohar">
        <ion-label>
          <h2>{{"UNITY_ZOHAR" | translate}}</h2>
          <p>{{"UZ_SUBTEXT" | translate}}</p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none" button routerLink="unity-pinchas">
        <ion-label>
          <h2>{{"UNITY_PINCHAS" | translate}}</h2>
          <p>{{"UP_SUBTEXT" | translate}}</p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none" button routerLink="unity-tikunim">
        <ion-label>
          <h2>{{"UNITY_TIKUNIM" | translate}}</h2>
          <p>{{"UT_SUBTEXT" | translate}}</p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none" button routerLink="zohar-by-books">
        <ion-label>
          <h2>{{"UNITY_BOOKS" | translate}}</h2>
          <p>{{"UB_SUBTEXT" | translate}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-padding" *ngIf="stats">

    <ion-slides pager="true" #slides [options]="slideOpts2" class="stats" (ionSlideTap)="updateView()">
      <ion-slide>
        <div class="slide-content">
          <ion-card class="ion-no-margin statistics-card">
            <ion-card-header>
              <ion-card-title>{{"PERSONAL_STATISTICS" |  translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <div *ngIf="statisticsActivated">
                  <ion-item lines="full">
                    <ion-label>
                      <h3>{{"LAST_DAY_PARAGRAPHS" | translate}}</h3>
                      <p>{{stats?.my_day_paragraphs || 0 }} {{"PARAGRAPHS" | translate}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>
                      <h3>{{"LAST_WEEK_PARAGRAPHS" | translate}}</h3>
                      <p>{{stats?.my_week_paragraphs || 0}} {{"PARAGRAPHS" | translate}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>
                      <h3>{{"LAST_MONTH_PARAGRAPHS" | translate}}</h3>
                      <p>{{stats?.my_month_paragraphs || 0 }} {{"PARAGRAPHS" | translate}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>
                      <h3>{{"TOTAL_PARAGRAPHS" | translate}}</h3>
                      <p>{{stats?.my_total_paragraphs || 0}} {{"PARAGRAPHS" | translate}}</p>
                    </ion-label>
                  </ion-item>
                </div>
                <ion-button 
                  color="primary"
                  *ngIf="!statisticsActivated"
                  size="large"
                  class="ion-margin" expand="block" 
                  (click)="activateStatistics()">
                  {{"ACTIVATE" |translate}}</ion-button>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">
          <ion-card class="ion-no-margin statistics-card">
            <ion-card-header>
              <ion-card-title>{{"GLOBAL_STATISTICS" |  translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item lines="full">
                  <ion-label>
                    <h3>{{"CONNECTED_LAST_DAY" | translate}}</h3>
                    <p>{{stats?.last_day_readers}} {{"PEOPLE" | translate}}</p>
                  </ion-label>
                </ion-item>
                <ion-item lines="full">
                  <ion-label>
                    <h3>{{"LAST_DAY_PARAGRAPHS" | translate}}</h3>
                    <p>{{stats?.last_day_paragraphs}} {{"PARAGRAPHS" | translate}}</p>
                  </ion-label>
                </ion-item>
                <ion-item lines="full">
                  <ion-label>
                    <h3>{{"LAST_MONTH_PARAGRAPHS" | translate}}</h3>
                    <p>{{stats?.last_month_paragraphs}} {{"PARAGRAPHS" | translate}}</p>
                  </ion-label>
                </ion-item>
                <ion-item lines="full">
                  <ion-label>
                    <h3>{{"TOTAL_PARAGRAPHS" | translate}}</h3>
                    <p>{{stats?.total_paragraphs}} {{"PARAGRAPHS" | translate}}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">
          <ion-card class="ion-no-margin statistics-card">
            <ion-card-header>
              <ion-card-title>{{"TOP_COUNTRIES" |  translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item lines="full" *ngFor="let country of stats.top_countries | slice:0:limit">
                  <ion-thumbnail slot="start">
                    <img src="https://unityzohar.com/img/48/{{country.ZoharCycle.country_iso}}.png">
                  </ion-thumbnail>
                  <ion-label>
                    <h3>{{country?.ZoharCycle?.country}}</h3>
                    <p>{{country?.ZoharCycle?.total_day}} {{"READERS_TODAY" | translate}} ({{country?.ZoharCycle?.total}}
                      {{"LAST_YEAR" | translate}} )</p>
                  </ion-label>
                </ion-item>
                <ion-button color="statistics" class="ion-margin" expand="block" (click)="changeLimit()">{{ limit == 5 ?
                  ("VIEW_MORE" | translate) : ("VIEW_LESS" | translate) }}</ion-button>
      
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

 

    

    
 

  </div>

  <div class="ion-padding">
    <ion-text color="primary">
      <h2 class="ion-text-center font-yeseva ion-padding-bottom global-title">{{"WE_COVER" | translate}}</h2>
    </ion-text>
    <div>
      <img src="../../../assets/images/map-placeholder.jpeg" alt="">
    </div>
    <ion-button 
      routerLink="map"
      fill="outline"
      expand="block"
      class="ion-text-uppercase view-readers ion-margin-top">{{"MOST_RECENT_READERS" | translate }}</ion-button>
  </div>

  <ion-footer class="ion-no-border ion-padding-horizontal">
    <div class="hline-bottom ion-margin-vertical"></div>
    <div class="ion-wrap ion-text-center ion-padding-bottom">
      Copyright © 2020 - DailyZohar.com <br>
      <a href="https://screenmediagroup.com/" target="_blank">DEVELOPED BY <strong>SMG</strong> | <strong>DIGITAL MARKETING AGENCY</strong></a>
    </div>
  </ion-footer>
</ion-content>
