<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "OUR_PROJECTS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <h2 class="ion-text-center">
    {{ "DZ_PROJECTS" | translate}}
  </h2>
<div class="ion-padding-top"></div>
  <ion-card class="ion-margin-top" href="https://dailyzohar.com/" mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-padding-vertical">DailyZohar.com</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      {{ "DZ_PROJECT_TEXT" | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top" href="https://unityzohar.com/" mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-padding-vertical">UnityZohar.com</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      {{ "UZ_PROJECT_TEXT" | translate}}
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top" href="http://zoharvoice.com/" mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-padding-vertical">ZoharVoice.com</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      {{ "ZV_PROJECT_TEXT" | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-vertical" href="https://dailyzohar.com/tzadikim/" mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-padding-vertical">Tzadikim</ion-card-title>
      <ion-card-subtitle class="ion-text-center">(free app, no ads)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      {{ "TZ_PROJECT_TEXT" | translate}}
    </ion-card-content>
  </ion-card>
</ion-content>