<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "UNITY_BOOKS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <app-zohar-loader *ngIf="loadingBooks"></app-zohar-loader>
  <div *ngIf="!loadingBooks">
    <ion-toolbar  (click)="viewBookmarks()" color="counter" class="ion-text-center">
      {{"ALL_BOOKS" | translate}}
      <ion-buttons slot="end">
        <ion-button (click)="viewBookmarks()" class="bookmarkbutton" fill="outline" >
          <ion-icon slot="icon-only" name="bookmarks" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-list>
      <ion-item lines="full" *ngFor="let book of books" [routerLink]="['/zohar-by-books',book?.Parasha?.id]">
        <ion-label>
          {{book?.Parasha.name}} | <strong class="normal-hebrew">{{book?.Parasha?.name_hebrew}}</strong>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>