/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: Stam_Normal;
    src: url('./assets/fonts/Guttman_Stam.ttf');
}
@font-face {
    font-family: Stam_Keren;
    src: url('./assets/fonts/Guttman_Keren.ttf');
}
*{
    -webkit-text-size-adjust: none;
}
em{
    font-style: italic;
}
ion-button {
    --border-radius: 8px;
}

.font-stam{
    font-family: Stam_Normal !important;
}
.font-yeseva{
    font-family: 'Yeseva One', cursive;
}
.normal-hebrew{
    direction:rtl;
    font-family: 'Frank Ruhl Libre', serif !important;
}
.normal-hebrew-no-rtl{
    direction:ltr;
    font-family: 'Frank Ruhl Libre', serif !important;
}

.normal-text{
    direction:ltr;
    font-family: 'Roboto Condensed', sans-serif !important;
}
.ion-color-counter {
--ion-color-base: var(--ion-color-counter);
--ion-color-base-rgb: var(--ion-color-counter-rgb);
--ion-color-contrast: var(--ion-color-counter-contrast);
--ion-color-contrast-rgb: var(--ion-color-counter-contrast-rgb);
--ion-color-shade: var(--ion-color-counter-shade);
--ion-color-tint: var(--ion-color-counter-tint);
}
.ion-color-zohardisabled {
--ion-color-base: var(--ion-color-zohardisabled);
--ion-color-base-rgb: var(--ion-color-zohardisabled-rgb);
--ion-color-contrast: var(--ion-color-zohardisabled-contrast);
--ion-color-contrast-rgb: var(--ion-color-zohardisabled-contrast-rgb);
--ion-color-shade: var(--ion-color-zohardisabled-shade);
--ion-color-tint: var(--ion-color-zohardisabled-tint);
}
.ion-color-statistics {
    --ion-color-base: var(--ion-color-statistics);
    --ion-color-base-rgb: var(--ion-color-statistics-rgb);
    --ion-color-contrast: var(--ion-color-statistics-contrast);
    --ion-color-contrast-rgb: var(--ion-color-statistics-contrast-rgb);
    --ion-color-shade: var(--ion-color-statistics-shade);
    --ion-color-tint: var(--ion-color-statistics-tint);
  }


ion-alert.alert-statistics .alert-wrapper{
    h2.alert-title {
        font-size: 1.1em;
    }
    .alert-message{
        padding-bottom: 5px;
    }

    button.confirm:disabled {
        color: grey;
        opacity: 0.8;
      }
}


/*
@media (prefers-color-scheme: dark) {
        ion-card{
            --background:$darkBg;
        }

    .ion-color-counter {
        --ion-color-base: var(--ion-color-counter);
        --ion-color-base-rgb: var(--ion-color-counter-rgb);
        --ion-color-contrast: var(--ion-color-counter-contrast);
        --ion-color-contrast-rgb: var(--ion-color-counter-contrast-rgb);
        --ion-color-shade: var(--ion-color-counter-shade);
        --ion-color-tint: var(--ion-color-counter-tint);
      }
    .ios body {
        .uz-text,p.uz-text,.zohar-text-no-bg{
            direction: rtl;
            font-family: Stam_Normal;
            word-spacing: 2px;
            color:#FFF;
            text-align: justify;
            line-height: 1.75;
            .item-note{
                line-height: 1.75;
               // float: right;
                margin-left: 10px;
                color: var(--ion-color-primary);
            }
        }
    }
    .md body {
        .uz-text,p.uz-text{
            direction: rtl;
            font-family: Stam_Normal;
            word-spacing: 2px;
            color:#FFF;
            text-align: justify;
            line-height: 1.75;
            .item-note{
                line-height: 1.75;
               // float: right;
                margin-left: 10px;
                color: var(--ion-color-primary);
            }
        }
    }
}//dark
*/


ion-slides.home-slides {
    height: 100%;
    background-color: #000;
    border-radius: 16px;
    ion-slide{
        color: #FFF;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;

        }
        div.slide-content{
            position: relative;
            z-index: 2;
            h2{
                font-family: 'Yeseva One', cursive;
                margin: 5px 0;
                font-size: 1.85em;
                text-transform: uppercase;
            }
            h3{
                font-family: 'Yeseva One', cursive;
                font-size: 2.25em;
                text-transform: capitalize;
            }
            ion-button{
                font-size: 0.95em;
                margin-top: 25px;
                font-weight: 700;
            }
            
            
        }
    }
    ion-slide{
        background-image: url(./assets/images/hands.jpeg);
        background-repeat: no-repeat;  
        background-position: 0% 0%;
        background-size: cover;
    }
    ion-slide:first-child{
        background-image: url(./assets/images/book.jpeg);
    }
    ion-slide:last-child{
        background-image: url(./assets/images/slide3.jpg);
        background-position: center;
    }
}
.slides-holder{
    height: 360px;
}

ion-slides.stats{

    //height: 100%;
    //background-color: #000;
    ion-slide{
        width: 100%;
    }
    div.slide-content{
        width: 100%;
    }
    ion-card{
        border-radius: 16px 16px 0 0;
        border: 1px solid #F2F2F2;
        box-shadow: none;
        margin-bottom: 42px;
    }
}
//::ng-deep{
    div.slide-text{
        text-align:justify;
        p{
            font-size: 0.85em;
            text-align:justify;
            margin: 8px 0 0 0;
        }
    }
//}

.global-title{
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

ion-card.statistics-card{
    ion-card-header{
        padding: 8px 20px;
        background-color: #F2F2F2;
    }
    ion-card-title{
        font-size: 1.4em;
    }
    ion-card-content{
        padding: 0;
    }
    h3{
        font-size: 0.9em;
        font-weight: 700;
    }
    ion-list{
        &.list-md{
            padding: 0;
        }
    }
    ion-item{
        --border-color:#F2F2F2;
        p{
            font-size: 0.8em;
        }
    }
    ion-thumbnail{
        width: 38px;
        height: 38px;
       
    }
    ion-button{
        text-transform: uppercase;
        font-weight: 700;
    }
}


ion-list.projects-list{
    ion-item{
        text-transform: uppercase;
        --color: var(--ion-color-secondary);
        --border-radius:16px;
        //--background:url(../../../assets/images/letters.jpeg) 0 100px / 100% #F8F1F1;
        --background:var(--ion-color-primary);
        // --detail-icon-opacity:0.9;
        --border-width:0;
        --detail-icon-color: var(--ion-color-light);
        margin-bottom: 20px;
        /*&::part(native){
            &::before{
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(248, 241, 241, 0.85);
                z-index: 1;
                border-radius:16px;
            }
            &:active{
                &::before{
                    background-color: rgba(248, 241, 241, 0.9);
                }
            }
        }
        */
        
        &::part(detail-icon){
            color:var(--ion-color-light);
            background: var(--ion-text-color);
            opacity: 1;
            padding: 3px;
            border-radius: 50%;
        }
        ion-label{
            h2{
                color:var(--ion-color-light);
                font-size: 1.25em;
                font-weight: 700;
            }
            
        }
        p{
            font-weight:normal;
            text-transform: none;
            color: #393E46;
        }
    }
    
}
ion-button.view-readers{
    --border-width:2px;
    font-weight: 700;
    --border-color:var(--ion-color-zohardisabled);
    --background-activated:var(--ion-color-zohardisabled);
    --color-activated: var(--ion-color-light);
    --color: var(--ion-color-zohardisabled);
}
ion-footer{
    font-size: .75em;
    a{
        color: var(--ion-color-dark);
    }
    
}
.well{
    background-color: #f2F2f2;
    padding-bottom:​25px;
    p{
        margin-top: 10px;
    }
}
.well-strong{
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
}
ion-item.select-trans-holder{
    --background:#f2f2f2;
    ion-select{
        width: 100%;
        margin-top: 0;
        --padding-start:10px;
    }
}
body.dark{


    ion-card{
        --background:$darkBg;
    }
    
    .ion-color-counter {
    --ion-color-base: var(--ion-color-counter);
    --ion-color-base-rgb: var(--ion-color-counter-rgb);
    --ion-color-contrast: var(--ion-color-counter-contrast);
    --ion-color-contrast-rgb: var(--ion-color-counter-contrast-rgb);
    --ion-color-shade: var(--ion-color-counter-shade);
    --ion-color-tint: var(--ion-color-counter-tint);
    }

    ion-list.projects-list{
        ion-item{
            text-transform: uppercase;
            --color: var(--ion-color-primary-contrast);
            --background:var(--ion-color-primary);
            // --detail-icon-opacity:0.9;
            --border-width:0; 
            --detail-icon-color: var(--ion-color-light);
            // --background:url(../../../assets/images/letters.jpeg) 0 100px / 100% #F8F1F1;
            /*&::before{
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(248, 241, 241, 0.8);
                z-index: 1;
                border-radius:16px;
            }*/
            /*&::part(native){
                &::before{
                    background-color:rgb(34 40 49 / 94%);
                }
                &:active{
                    &::before{
                        background-color: rgb(34 40 49 / 98%);
                    }
                }
            }
            */
            &::part(detail-icon){
                color:var(--ion-color-dark);
                background: var(--ion-color-light) !important;
                position: relative;
                z-index: 10;
            }
            p{
                color: var(--ion-color-primary-contrast);
            }
        }
        
    }
    ion-card.statistics-card{
        ion-card-header{
            background-color: #222831;
        }
        ion-list{
            background: #393E46;
        }
        ion-item{
            --background: #393E46;
            --border-color:#222831;
            p{
                color:#FFF;
                font-size: 0.8em;
            }
        }
        
    
    }
    ion-button.view-readers{
        --border-color:var(--ion-color-primary-contrast);
        --background-activated:var(--ion-color-primary-contrast);
        --color-activated: var(--ion-color-light);
        --color: var(--ion-color-primary-contrast);
    }
    ion-footer{
        .hline-bottom{
            border-color: #393E46;
        }
        a{
            color: #FFF;
        }
    }

    span.zohar-text-no-bg{
    display: block;
    font-weight: 700;
    color:var(--ion-color-primary-contrast);
    }

    .well{
        color:var(--ion-color-light);;
        }

        ion-item.select-trans-holder{
            --background:var(--ion-color-counter);
            ion-select{
                margin-top: 0;
                width: 100%;
                --padding-start:10px;
            }
        }
        
        ion-button.bookmark-action{
            --border-color:#393E46;
            --background-activated:var(--ion-color-primary-contrast);
            --color-activated: var(--ion-color-light);
            --color: var(--ion-color-primary-contrast);
        }

        .candles-holder{
            background-color: #222831;
        }   
}//body.dark

.ios body.dark {
.uz-text,p.uz-text,.zohar-text-no-bg{
    direction: rtl;
    font-family: Stam_Normal;
    word-spacing: 2px;
    color:#FFF;
    text-align: justify;
    line-height: 1.75;
    .item-note{
        line-height: 1.75;
       // float: right;
        margin-left: 10px;
        color: var(--ion-color-primary);
    }
}
}
.md body.dark {
    .uz-text,p.uz-text{
        direction: rtl;
        font-family: Stam_Normal;
        word-spacing: 2px;
        color:#FFF;
        text-align: justify;
        line-height: 1.75;
        .item-note{
            line-height: 1.75;
        // float: right;
            margin-left: 10px;
            color: var(--ion-color-primary);
        }
    }
}

ion-title{
    font-weight: 700;
}
.uz-text-14{
    font-size: 14px !important;
    line-height: 1.75;
    p{
        font-size: 14px !important;
    }
}
.uz-text-16{
    font-size: 16px !important;
    line-height: 1.75;
    p{
        font-size: 16px !important;
    }
}
.uz-text-18{
    font-size: 18px !important;
    line-height: 1.75;
    p{
        font-size: 18px !important;
    }
}
.uz-text-20{
    font-size: 20px !important;
    line-height: 1.75;
    p{
        font-size: 20px !important;
    }
}

.uz-text-22{
    font-size: 22px !important;
    line-height: 34px;
    p{
        font-size: 22px !important;
    }
}

.uz-text-24{
    font-size: 24px !important;
    line-height: 1.75;
    p{
        font-size: 24px !important;
    }
}

.uz-text-26{
    font-size: 26px !important;
    line-height: 42px;
    p{
        font-size: 26px !important;
    }
}
.uz-text-28{
    font-size: 28px !important;
    line-height: 1.75;
    p{
        font-size: 28px !important;
    }
}

.uz-text-30{
    font-size: 30px !important;
    line-height: 1.75;
    p{
        font-size: 30px !important;
    }
}

.uz-text-32{
    font-size: 32px !important;
    line-height: 1.75;
    p{
        font-size: 32px !important;
    }
}
.uz-text-34{
    font-size: 34px !important;
    line-height: 1.75;
}
.uz-text-36{
    font-size: 36px !important;
    line-height: 1.75;
}

.uz-text,p.uz-text,.zohar-text-no-bg{
    direction: rtl;
    font-family: Stam_Normal;
    word-spacing: 2px;
    color:#393E46;
    text-align: justify;
    line-height: 1.75;
    .item-note{
        line-height: 1.75;
       // float: right;
        margin-left: 10px;
        color: var(--ion-color-primary);
    }
}
span.span.zohar-text-no-bg{
    display: block;
}
span.normal_text_par{
    color:#3c8dbc !important;
    font-size: 0.8em;
}
span.dalet_pei_par{
    color: #f56954 !important;
    font-size: 0.8em;
}
span.nun_aleph_par{
    color: #b04ecc !important;
    font-size: 0.8em;
}
span.samech_aleph_par{
    color: #ff8a47 !important;
    font-size: 0.8em;
}

ion-item.some{
    --inner-padding-start:0;
    --padding-start:0;
}

.text-ltr{
    direction: ltr !important;
}

.hline-bottom {
    border-bottom: 1px solid #D2D3C9;
}
.parasha-holder{
    font-size: 0.95em;
}
h4.translation-title{
    margin: 10px 0px;
    font-weight: 700;
}

ion-item.next{
    text-transform: uppercase;
    --color: var(--ion-color-secondary);
    --border-radius:16px;
    //--background:url(../../../assets/images/letters.jpeg) 0 100px / 100% #F8F1F1;
    --background:var(--ion-color-primary);
    // --detail-icon-opacity:0.9;
    --border-width:0;
    --detail-icon-color: var(--ion-color-light);
    margin-bottom: 20px;
    &::part(detail-icon){
        color:var(--ion-color-light);
        background: var(--ion-text-color);
        opacity: 1;
        padding: 3px;
        border-radius: 50%;
    }
    ion-label{
        text-align: center;
    }
}

ion-button.bookmarkbutton{
    --border-width: 1px;
    height: 40px;
    --border-radius:4px !important;
}

