<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">{{ "UNITY_TIKUNIM" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-zohar-loader *ngIf="!zohars"></app-zohar-loader>
  <app-zohar-loader *ngIf="!zohars"></app-zohar-loader>
  <div *ngIf="zohars">
    <div class="ion-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <div class="ion-text-start ion-padding-top parasha-holder">
              <strong>{{zohars?.Parasha?.name}}</strong> | <strong
                class="normal-hebrew">{{zohars?.Parasha?.name_hebrew}}</strong>
            </div>
          </ion-col>
          <ion-col size="6">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <div class="ion-text-center">
                    <ion-button fill="clear" color="dark" (click)="fontDown()">
                      <ion-icon name="remove-circle"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-center ion-padding-top">
                    <strong>
                      AA
                    </strong>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-center">
                    <ion-button fill="clear" color="dark" (click)="fontUp()">
                      <ion-icon name="add-circle"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <ion-segment class="zohar-language" mode="ios" [(ngModel)]="language" (ionChange)="languageChanged($event)">
              <ion-segment-button value="hebrew">
                <ion-label>{{"SHOW_HEBREW" | translate}}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="aramaic">
                <ion-label>{{"SHOW_ARAMAIC" | translate}}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar color="counter" class="ion-text-center">
              <strong>%{{zohars?.Percent}}</strong> |
              {{ "CYCLE" | translate}}: <strong>{{zohars?.Cycle}}</strong> |
              {{ "READERS" | translate}}: <strong>{{zohars?.Readers}}</strong>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top">
          <ion-col>
            <ion-item detail="false" class="some">
                <ion-label>{{"SHOW_TRANSLITERATION" | translate}}</ion-label>
                <ion-toggle (ionChange)="viewTransliteration($event)" [(ngModel)]="showTransComment"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--Zohars-->
      <ion-card mode="ios" *ngFor="let zohar of zohars?.Paragraphs" class="ion-no-margin ion-margin-vertical">
        <ion-card-content class="uz-text uz-text-{{fontSize}}">
          <app-zohar-loader *ngIf="loadingZohars"></app-zohar-loader>
          <app-player *ngIf="zohar?.Zohar?.audio != 0" audioUrl="{{zohar?.Zohar?.audio}}"></app-player>
          <ng-container *ngIf="!loadingZohars">
            <p *ngIf="language == 'hebrew' && zohar?.Zohar?.text_hebrew" [innerHTML]="zohar?.Zohar?.text_hebrew"
              class="uz-text-{{fontSize}}"></p>
            <p *ngIf="language == 'hebrew' && !zohar?.Zohar?.text_hebrew" class="text-ltr">
              {{ "NO_HEBREW" | translate}}
            </p>
            <p *ngIf="language == 'aramaic' && zohar?.Zohar?.text_aramaic" [innerHTML]="zohar?.Zohar?.text_aramaic"
              class="uz-text-{{fontSize}}"></p>
          <div *ngIf="showTransComment == true">
              <div class="hline-bottom ion-margin-vertical"></div>
              <p *ngIf="language == 'hebrew'" class="uz-text-{{fontSize}}">
                {{zohar?.Zohar?.transliterated_hebrew}}
              </p>
              <p *ngIf="language == 'aramaic'" class="uz-text-{{fontSize}}">
                {{zohar?.Zohar?.transliterated_aramaic}}
              </p>
          </div>
          </ng-container>
        </ion-card-content>
      </ion-card>
      <!--Zohars end-->
      <!--flag-->
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <img src="https://unityzohar.com/img/48/{{zohars?.LastVisitor?.country_iso}}.png">
        </ion-thumbnail>
        <ion-label>
          <h3>{{ "PREV_READER" | translate}}</h3>
          <p> <span *ngIf="zohars?.LastVisitor?.city">{{zohars?.LastVisitor?.city}} -</span>
            {{zohars?.LastVisitor?.country}}</p>
        </ion-label>
      </ion-item>
      <!--flag end-->
      <ion-item (click)="getParagraphs(true)" [color]="nextAvailable ? 'primary' : 'zohardisabled'"
        detail="true"
        [disabled]="!nextAvailable" class="ion-margin-top ion-text-uppercase next">
        <ion-label>
        {{"NEXT_ZOHAR" | translate}}
      </ion-label>
      </ion-item>
      <div class="ion-text-center ion-margin-bottom ion-color-dark"><small> {{"NEXT_ZOHAR_DELAY" | translate}}</small></div>
    </div>
    <!--padding-->


  </div>
  <!--Zohars loaded-->
  <app-candles *ngIf="zohars"></app-candles>

</ion-content>